numpy==1.24.1
pandas==1.4.2
django==4.1.5
djangorestframework==3.14.0
django_cors_headers==3.13.0
djangorestframework_simplejwt==5.2.2
nltk==3.8.1
torch
protobuf==4.24.2
transformers==4.33.0
arabert==1.0.1
scikit-learn==1.3.0
sentencepiece
snscrape
keras~=2.13.1
mysqlclient==2.2.0
Pillow
django-extensions==3.2.3